body {
  background-color: #eaeaea;
}

#page .closed {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.emphasis {
  font-weight: bold;
  font-style: italic;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.spinner {
  background-image: url("../images/spinner_16.gif");
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.btn-focus {
  color: #2da0db;
  text-shadow: 0px 1px 0px white;
}
.btn-focus:hover {
  color: #2da0db;
}
.btn-focus[disabled]:hover {
  color: rgb(51, 51, 51);
}

.btn-hover {
  visibility: hidden;
}

.btn-clear {
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.btn-filter {
  padding: 5px 0px 5px 0px;
  margin-bottom: 8px;
  width: 100%;
}

input.filter-date {
    cursor: pointer;
    background-color: white;
}

.sp4n-label {
  text-shadow: 0px 1px 0px white;
  padding: 4px 12px;
  line-height: 20px;
  display: inline;
}

.filter-label {
    cursor: default;
}

.sortable-column-header {
  color: rgb(0, 85, 128);
}
.sortable-column-icon {
  font-size: 8px;
  color: rgb(0, 85, 128);
}

.propval-editor-popover {
  position: fixed;
}
.propval-editor-popover .overlay {
  border: 1px solid #999;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.propval-editor-popover .actions {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  float: right;
  border: 1px solid #999;
  border-top: none;
}
.propval-editor-popover .actions .action {
  float: left;
  padding: 6px;
  background-color: white;
}
.propval-editor-popover .actions .action:hover {
  background-color: #eee;
}

.growl-dialog {
  position: fixed;
  z-index: 1000;
  width: 400px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px 4px 2px 2px;
  outline: 0px none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}
.growl-dialog-error {
  color: #d00000;
}
.growl-dialog-hover {
  background-color: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.growl-dialog-header {
  padding: 3px 8px;
  background-color: rgb(245, 245, 245);
  background-image: url("../images/modal-header-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.growl-dialog-header-title {
  font-size: 13px;
  font-weight: bold;
}
.growl-dialog-body {
  position: relative;
  max-height: 200px;
  padding: 8px;
  overflow-y: auto;
  line-height: normal;
  font-size: 12px;
}

.input-name {
  width: 95%;
}
.input-value {
  width: 95%;
}

.hero-unit {
  background-color: transparent;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-radius: 0px;
}

.breadcrumb {
  border: 1px solid rgb(211, 211, 211);
  background-image: url("../images/gradient-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
}

.table-striped tbody tr:nth-child(2n) td, .table-striped tbody tr:nth-child(2n) th {
  background-color: white;
}

.tooltip-inner {
  background-color: #666;
  color: #fafafa;
  text-shadow: 0px 1px 0px black;
}

.tooltip.in {
  opacity: 1.0;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #666;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #666;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #666;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666;
}

footer {
  color: #666;
  text-shadow: 0px 1px 0px white;
  margin-bottom: 10px;
}

footer p {
  margin: 0px;
  padding: 0px;
}

footer hr {
  border-bottom: 1px solid #bbb;
}

.modal-header {
  padding: 1px 15px;
  background-color: #f5f5f5;
  background-image: url("../images/modal-header-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #dfdfdf;
}
.modal-header h4 {
  font-size: 110%;
  text-shadow: 0px 1px 0px white;
}
.modal-header .close {
  margin-top: 10px;
}

#fileupload-import .input-append {
  width: 100%;
}
#fileupload-import .uneditable-input {
  width: 60%;
}

.filter-sidebar {
  border: 1px solid rgb(211, 211, 211);
}

.filter-inner {
  padding: 9px 15px 0px;
}

.filter-header {
    text-indent: 15px;
    background-color: rgb(31, 151, 216);
}
.filter-header a {
    padding-top: 5px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}
.filter-header span.caret {
    color: white;
    margin-top: 8px;
    margin-right: 8px;
    border-top: 4px solid white;
}

.task-search {
    padding: 5px;
}

.tasks, .deployments {
    padding: 0px;
}

.tasks-actions, .task-actions, .deployments-actions, .deployment-actions, .queries-actions, .targets-actions, .processes-actions {
    border: 1px solid rgb(211, 211, 211);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url("../images/gradient-bg.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: rgb(242, 242, 242);
}
.tasks-actions, .deployments-actions, .queries-actions, .targets-actions, .processes-actions {
  padding: 10px;
}
.task-actions, .deployment-actions, .query-actions, .target-actions {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tasks-none, .tasks-searching, .deployments-none, .deployments-searching, .queries-none, .queries-searching, 
.targets-none, .targets-searching, .processes-none, .processes-searching {
    float: left;
    width: 100%;
    background-color: white;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 20px;
}
.tasks-searching span, .deployments-searching span, .queries-searching span, .processes-searching span {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    float: left;
    background-position: 16px 11px;
}
.tasks-none span, .deployments-none span, .queries-none span, .targets-none span, .processes-none span {
    padding: 10px;
    float: left;
    font-style: italic;
}

.tasks-table, .deployments-table, .queries-table, .targets-table, .processes-table {
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
}

.tasks-table thead th, .tasks-table tbody td {
    border-left: 1px solid rgb(211, 211, 211);
}
.tasks-table thead th {
    background-color: white;
}
.deployments-table thead th, .deployments-table tbody td {
    border-left: 1px solid rgb(211, 211, 211);
}
.deployments-table thead th, .queries-table thead th, .targets-table thead th, .processes-table thead th {
    background-color: white;
}

.task-details-title, .deployment-details-title, .deployment-history-title, .deployment-contents-title {
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgb(170, 170, 170);
    padding-right: 15px;
}

.details-meta-data-section {
  margin-top: 15px;
}

.details-meta-data-section .btn {
  margin-top: 5px;
}

.details-meta-data-section-header {
  font-weight: bold;
  float: left;
}

.details-meta-data-section-label {
  white-space: nowrap;
  min-width: 130px;
  float: left;
}

.details-meta-data-section-value {
  float: left;
}

.task-details, .deployment-details, .deployment-history, .deployment-contents {
  border-left: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  background-color: white;
  padding-bottom: 15px;
}

.task-search, .deployment-search {
  padding: 5px;
}

.controls-checkbox {
  margin-bottom: 5px;
}

.filter-checkbox span {
  padding-left: 5px;
}

.deployment-details-emphasis {
  font-weight: bold;
  font-style: italic;
}

.deployment-details-bold {
  font-weight: bold;
}

.deployment-nav-panel {
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  min-height: 100px;
}
.deployment-nav-panel .description {
  padding: 10px;
  line-height: 16px;
}
.deployment-nav-panel .label-bar {
  padding: 5px;
  padding-left: 10px;
  background-color: white;
}
.deployment-nav-panel .label-bar span {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.deployment-nav-panel:hover {
  border: 1px solid rgb(151, 161, 171);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.deployment-nav-panel:hover .label-bar .btn-hover {
  visibility: visible;
}

.deployment-details-icon {
  display: block;
  float: left;
  margin: 10px;
}
.deployment-history-icon {
  background-image: url(../images/map-icon.png);
  width: 26px;
  height: 21px;
}
.deployment-contents-icon {
  background-image: url(../images/shoebox-icon.png);
  width: 24px;
  height: 22px;
}
.deployment-browse-icon {
  background-image: url(../images/wrench-icon.png);
  width: 22px;
  height: 22px;
}

.deployment-history, .deployment-contents {
  padding-top: 15px;
}
.deployment-history p {
  padding-left: 10px;
  padding-right: 10px;
}

.deployment-history-item, .deployment-contents-item {
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  padding: 10px;
  margin-bottom: 8px;
}
.deployment-history-item .details, .deployment-contents-item .details {
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  margin-top: 5px;
  padding: 10px;
  overflow: auto;
}
.deployment-history-item:hover {
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.deployment-contents-item {
  margin-bottom: 6px;
}
.deployment-contents-item span {
  line-height: 26px;
  text-shadow: 0px 1px 0px white;
}
.deployment-contents-item table span {
  line-height: 20px;
  text-shadow: none;
}
.deployment-contents-item .summary {
  padding: 5px;
  padding-bottom: 12px;
}
.deployment-contents-item .deployment-type {
  margin-left: 15px;
}
.deployment-contents-item button {
  margin-left: 5px;
}
.deployment-contents-item:hover {
  border: 1px solid rgb(151, 161, 171);
  margin-bottom: 6px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.deployment-history-item:hover .btn-hover, .deployment-contents-item:hover .btn-hover {
  visibility: visible;
}
.deployment-contents-item .details .summary span {
  font-size: 13px;
  line-height: 15px;
}

.deployment-history .filter-body, .deployment-contents .filter-body {
  background-color: rgb(247, 247, 247);
}

.history-item-icon {
  display: block;
  float: left;
  margin: 5px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
}
.history-item-icon-none {
  display: none;
}
.history-item-icon-edit {
  background-image: url(../images/event-edit.png);
}
.history-item-icon-delete {
  background-image: url(../images/event-delete.png);
}
.history-item-icon-new {
  background-image: url(../images/event-new.png);
}

div.task-form label {
  font-weight: bold;
}
div.task-form label.checkbox, div.task-form label.radio {
  font-weight: normal;
}


.page-explanation {
  margin-bottom: 15px;
  padding-left: 5px;
}
.page-explanation h2 {
  margin-top: 0px;
  color: rgb(102, 102, 102);
  text-shadow: 0px 1px 0px white;
  width: 95%;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 0px;
}
.page-explanation .message {
  color: rgb(102, 102, 102);
  text-shadow: 0px 1px 0px white;
  width: 95%;
}

.query-details-form, .target-details-form {
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  padding-top: 10px;
}
.query-details-form .query-details, .target-details-form .target-details {
  padding: 10px;
}
.query-details-form table {
  width: 95%;
}
.query-details-form table th {
  color: rgb(91, 91, 91);
}


.target-icon, .process-icon, .workflow-icon{
	background-repeat: no-repeat;
 	padding-left: 25px;
   	padding-bottom: 5px;
}

.workflow-edit-icon {
  background-image: url(../images/event-edit.png) !important;
}

.workflow-delete-icon {
  background-image: url(../images/event-delete.png) !important;
  cursor: pointer;
  text-decoration: none;
}

.queries-table .actions, .targets-table .actions, .processes-table .actions {
	margin: 0px;
	padding: 0px;
}

.queries-table .actions .firstAction, .targets-table .actions .firstAction {
	margin-right: 10px;
}

.error-validation {
	margin-top:10px;
	margin-bottom: 10px;
}

.error-validation table{
	margin: 10px;
	margin-left: 25px;	
}


.gwt-SuggestBoxPopup {
}

.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #000;
  cursor: default;
  font-size: 110%;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #D5E2FF;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  border-top: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  border-bottom: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner,
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner {
  height: 1px;
  line-height: 1px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  border-left: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  border-right: 1px solid #bbb;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner,
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner {
  width: 1px;
  line-height: 1px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 0px;
  height: 0px;
  zoom: 1;  
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 0px;
  height: 0px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(images/circles.png) no-repeat 0px -6px;
  -background: url(images/circles_ie6.png) no-repeat 0px -6px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(images/circles.png) no-repeat -5px -6px;
  -background: url(images/circles_ie6.png) no-repeat -5px -6px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(images/circles.png) no-repeat 0px -11px;
  -background: url(images/circles_ie6.png) no-repeat 0px -11px;
  width:5px;
  height:5px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(images/circles.png) no-repeat -5px -11px;
  -background: url(images/circles_ie6.png) no-repeat -5px -11px;
  width:5px;
  height:5px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 0px;
  height: 0px;
  overflow: hidden;
}


.target-edit-icon {
  background-image: url(../images/event-edit.png) !important;
}

.target-delete-icon {
  background-image: url(../images/event-delete.png) !important;
  cursor: pointer;
  text-decoration: none;
}

.targets-table .actions{
	margin:0px;
	padding: 0px;
}

.targets-table .actions .firstAction{
	margin-right: 10px;
}

.target-details-form .target-details .control-group .radio{
	display: inline-flex;
	margin-left: 25px;
}

.target-details-form .target-details .control-group .radio .yes{
	margin-right: 40px;	
}


.process-abort-icon {
  background-image: url(../images/event-stop.png) !important;
  cursor: pointer;
  text-decoration: none;
  background-size:20px;
}

.processes-table .actions{
	margin:0px;
	padding: 0px;
	text-align: center;
}

.processes-table .actions .firstAction{
	margin-right: 10px;
}

#admin-dash {
  border-top: 1px solid rgb(187, 187, 187);
  margin-top: 15px;
  padding-top: 15px;
}
